*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    align-items: center;
}

ul{
    list-style-type: none;
    display: flex;
    position: relative;
    left:75%;
    top:11px;
}

li a{
    margin-right: 25px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    position: relative;
    top: 8px;
    left: 12px;
    font-size: 15px;
}
li{
    margin-right: 35px;
}

#logo{
    display: flex;
    height: 90px;
    width: 90px;
    border-radius: 100px;
    position: relative;
    left: 70px;
    top:25px;
}

.main{
    height: 745px;
    background-image: url("/bg.jfif");
    background-size: cover;
    background-repeat: no-repeat;
}
label{
    color: black;
    font-size: 20px;
    padding-right: 13px;
    font-weight: bold;
}
h1{
    color: wheat;
}

.form{
    text-align: center;
    margin-top: 150px;
}

#man{
    height: 90px;
    width: 90px;
    transform: translateY(-50%);
}

input{
    background-color: transparent;
    outline: none;
    border: none;
    color: white;
    margin-top: 25px;
    font-size: 16px;
    text-indent: 2px;
}

input::placeholder{
    color:white;
    font-size: 16px;
}

.border{
    border-bottom: 2px solid black;
}
#email{
    margin-right: 28px;
    width:200px;
}

#btn{
    height: 40px;
    width: 100px;
    border: 2px solid black;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    border-radius: 50px;
    transition: background-color 0.3s;
}

#btn:hover{
    background-color: black;
    cursor: pointer;
}

.in{
    height:35px;
    width:90px;
    background-color: darkcyan;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    border: 1px solid darkcyan;
    color: white;
}

.up{
    height:35px;
    width:90px;
    border: 1px solid darkcyan;
    font-weight: bold;
    text-align: center;
    border-radius: 50px;
    color: white;
    transition: background-color 0.3s;
}

a:hover{
    cursor: pointer;
}

.up:hover{
    background-color: darkcyan;
    cursor: pointer;
}

label[for="pass"]{
    position: relative;
    top:2px;
}
